:root{
  --bg: #0f1724;
  --card: #0b1220;
  --text: #e6eef8;
  --muted: #9fb2d1;
  --accent: #6fc3b8;
  --glass: rgba(255,255,255,0.03);
  --radius: 12px;
  --shadow: 0 0 8px rgba(0, 0, 0, 0.8),
            0 0 5px rgba(0, 0, 0, 0.8);
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: var(--bg);
    color: var(--text);
    line-height:1.4;
    max-width: 599px;

}
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--glass);
    box-shadow: var(--shadow);
    top: 0;
    border-radius: 3px;
    z-index: 99;
}
.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding: 24px 0; 
    margin-bottom: 70px;

}
.card {
    background-color: var(--card);
    border-radius: var(--radius);
    width: 90%;
    height: min(300px);
    margin: 0 auto;
    padding: 20px;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    overflow: hidden;
}
ul {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    justify-content: space-around;
    flex-wrap: ;

}
.card li {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--glass);
    color: var(--accent);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;

}
.footer {
    width: 100%;
    height: 80px;
    background-color: var(--card);
    box-shadow: var(--shadow);
    position: fixed;
    bottom: 0;
}

.footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    
}
