@import url(global.css);
@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./components/card.css);
@import url(./components/button.css);
body {
    background-color: var(--bg);
    color: var(--text);
    line-height:1.4;  
}
.light {
    --bg: var(--light);
  --card: var(--light);
  --text: black;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: var(--s);
    margin-bottom: 50px;
}
.card__profile{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}
.card__profile__img{
    width: 120px;
}

ul {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    justify-content: space-around;
}

.card__answer {
  visibility: hidden;
  opacity: 0;
}
.card__answer--show {
    visibility: visible;
    opacity: 1;
}

.card button:hover,
.footer i:hover,
.card li:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

@media (min-width: 1024px){
    .main {
        min-width: 1024px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (min-width: 1440px){
    .main {
        min-width: 1440px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        grid-column: 1/ 3;
        grid-row: 1/ 3;
    }
    
    .card--settings {
        grid-column: 3/ -1;
        grid-row: 1/ 3;
    }
}
