@import url(global.css);
@import url(./components/header.css);
@import url(./components/footer.css);
body {
    background-color: var(--bg);
    color: var(--text);
    line-height:1.4;
    width: 100%;
    
}
.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: var(--s);
    margin: 0 auto;
    padding: 24px 0; 
    margin-bottom: 70px;
}
.profile-pic{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}
.profile img{
    width: 120px;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--card);
    border-radius: var(--radius);
    width: 90%;
    height: min(250px auto);
    margin: 20px auto;
    padding: 30px;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
}
ul {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    justify-content: space-around;
}
.card li {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--glass);
    color: var(--text);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;
    transition: .5s;
}
.card i{
    font-size: 44px;
    position: absolute;
    color: var(--accent);
    top: -5px;
    right: 10px;
}
.question1 i,
.question4 i {
    color: var(--text);
}
.card .button {
    background-color: var(--glass);
    border: none;
    border-radius: var(--radius);
    color: var(--text);
    font-size: large;
    margin: auto;
    width: 200px;
    height: 50px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;
    transition-duration: .5s;
}
.card .button:hover,
.footer i:hover,
.card li:hover {
    opacity: 0.9;
    transform: scale(1.1);
}
.cells {
    height: 100px;
    display: flex;
}
.cells div {
    display: flex;
    justify-content: center;
}
.questions-count,
.bookmarks-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    gap: 10px;
    width: 150px;
    height: 50px;
}
.questions-count i,
.bookmarks-count i{
    position: static;
}
.settings{
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
}
@media (min-width: 1024px){
    .main {
        min-width: 1024px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (min-width: 1440px){
    .main {
        min-width: 1440px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .profile {
        grid-column: 1/ 3;
        grid-row: 1/ 3;
    }
    .settings {
        grid-column: 3/ -1;
        grid-row: 1/ 3;
    }
}
