@import url(global.css);
@import url(./components/header.css);
@import url(./components/footer.css);
body {
    background-color: var(--bg);
    color: var(--text);
    line-height:1.4;
    max-width: 599px;

}

.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding: 24px 0; 
    margin-bottom: 70px;

}
.card {
    background-color: var(--card);
    border-radius: var(--radius);
    width: 90%;
    height: min(300px);
    margin: 0 auto;
    padding: 20px;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    overflow: hidden;
}
ul {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    justify-content: space-around;
    flex-wrap: ;

}
.card li {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--glass);
    color: var(--accent);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;

}

.footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    
}
