@import url(global.css);
@import url(./components/header.css);
@import url(./components/footer.css);
body {
    background-color: var(--bg);
    color: var(--text);
    line-height:1.4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 599px;
    margin: 0 auto;
    padding: 24px 0; 
    margin-bottom: 70px;
}
.profile-pic{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}
.profile img{
    width: 120px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--card);
    border-radius: var(--radius);
    width: 90%;
    height: min(300px);
    margin: 0 auto;
    padding: 20px;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    overflow: hidden;
}
ul {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    justify-content: space-around;
}
.card li {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--glass);
    color: var(--text);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;
    transition: .5s;

}
.card i{
    font-size: 44px;
    position: absolute;
    color: var(--accent);
    top: -5px;
    right: 10px;
}
.question1 i,
.question4 i {
    color: var(--text);
}
.card .button {
    background-color: var(--glass);
    border: none;
    border-radius: var(--radius);
    color: var(--text);
    font-size: large;
    margin: auto;
    width: 200px;
    height: 50px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;
    transition-duration: .5s;
}
.card .button:hover,
.footer i:hover,
.card li:hover {
    opacity: 0.9;
    transform: scale(1.1);
    box-shadow: ;
}
.cells {
    height: 100px;
    display: flex;
}
.cells div {
    display: flex;
    justify-content: center;
}
.questions-count,
.bookmarks-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    gap: 10px;
    width: 100px;
    height: 60px;
}
.questions-count i,
.bookmarks-count i{
    position: static;
}
.settings{
    height: 100px;
}
