.main {
    display: grid;
    max-width: 599px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(250, 1fr));
    margin-bottom: 80px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    background-color: var(--card);
    border-radius: var(--radius);
    width: 90%;
    height: min(250px auto);
    margin:20px auto;
    padding: 20px;
    box-shadow: var(--shadow);
    
}
.card__profile{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}
.card__profile__img{
    width: 120px;
}
.card__answer {
  visibility: hidden;
  opacity: 0;
  transform: scale(.01);
  transition: .5s linear;  
}
.visible {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

ul {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    justify-content: space-around;
}

.card li {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--glass);
    color: var(--text);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;
    transition: .5s;
}
.card--counter {
    display: flex;
    justify-content: space-evenly;
    margin:20px auto;
    padding: 20px;
    gap: 20px;
}
.active {
    color: var(--accent);
}
.card__count{
    width: 150px;
    height: 60px;
    background-color: var(--bg);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 35px;
    border-radius: var(--radius);
    color: var(--accent);
}
.settings{
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
}
@media (min-width: 1024px){
    .main {
        max-width: 1024px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (min-width: 1440px){
    .main {
        max-width: 1440px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .card--profile {
        grid-column: 1/ 3;
        grid-row: 1/ 3;
    }
    
    .card--settings {
        grid-column: 3/ -1;
        grid-row: 1/ 3;
    }
}
