.footer {
    width: 100%;
    height: 60px;
    background-color: var(--card);
    box-shadow: var(--shadow);
    position: fixed;
    bottom: 0;
}
.footer .footer__icon {
    font-size: 35px;
    color: var(--text);
    transition: .5s;
}
.footer .active {
    color: var(--accent);
}