.footer {
    width: 100%;
    height: 80px;
    background-color: var(--card);
    box-shadow: var(--shadow);
    position: fixed;
    bottom: 0;
    max-width: 599px;
}
.footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    
}
.footer i {
    font-size: 44px;
    color: bisque;
    transition: .5s;
}