.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border: none;
  margin: auto;
  max-width: 500px;
}

.form__label {
  margin-top: 20px;
  font-weight: 600;
}

.form__input {
  padding: 5px;
  border-radius: 6px;
  border: none;
  resize: none;
  outline: none;
  max-height: 90px;
}
.form__input:focus {
  border: 3px solid greenyellow;
}
.form__button {
  background: #0077ff;
  color: #fff;
  font-weight: 800;
  border: none;
  padding: 0.6rem 1.2rem;
  margin: auto;
  border-radius: 6px;
  transition: 0.5s;
  cursor: pointer;
}
