header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--glass);
    box-shadow: var(--shadow);
    border-radius: var(--shadow);
    top: 0;
    border-radius: 3px;
    z-index: 99;
}