.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--glass);
    box-shadow: var(--shadow);
    top: 0;
    border-radius: 3px;
    z-index: 99;
    max-width: 599px;
}